
.mimg-1 {
animation: mimg-1 30s ease infinite;
opacity: 0;
}

.mimg-2 {
animation: mimg-2 30s ease infinite;
opacity: 0;
}

.mimg-3 {
animation: mimg-3 30s ease infinite;
opacity: 0;
}

@keyframes mimg-1 {
0% {
opacity: 0;
transform: translateY(25%);
}
10% {
opacity: 1;
transform: translateY(0);
}
25% {
opacity: 1;
transform: translateY(0);
}
33% {
opacity: 0;
transform: translateY(25%);
}
100% {
opacity: 0;
transform: translateY(25%);
}
}

@keyframes mimg-2 {
0% {
opacity: 0;
transform: translateY(25%);
}
33% {
opacity: 0;
transform: translateY(25%);
}
43% {
opacity: 1;
transform: translateY(0);
}
58% {
opacity: 1;
transform: translateY(0);
}
66% {
opacity: 0;
transform: translateY(25%);
}
100% {
opacity: 0;
transform: translateY(25%);
}
}

@keyframes mimg-3 {
0% {
opacity: 0;
transform: translateY(25%);
}
66% {
opacity: 0;
transform: translateY(25%);
}
76% {
opacity: 1;
transform: translateY(0);
}
91% {
opacity: 1;
transform: translateY(0);
}
100% {
opacity: 0;
transform: translateY(25%);
}
}

.homepage-content, .homepage-intro {
position: relative;
width: 100%;
height: 100%;
text-align: center;
font-family: 'Roboto Mono', monospace;
color: white; 
}

.homepage-intro {
padding-bottom: 10%;
padding-left: 1em;
padding-right: 1em;
box-sizing: border-box;
background: var(--bg-light);
padding-top: 10vmin;
}

.homepage-content {
box-sizing: border-box;
z-index: 1;
font-size: 2vw;
}

.main-animation {
position: relative;
display: grid;
left: calc(50% - 30vw);
grid-template-rows: 100%;
grid-template-columns: 100%;
}

.marked {
text-decoration: underline;
color: var(--bg-blue);
}

.mimg {
position: relative;
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 2;
}

.main-heading {
font-size: 2.5em;
}

.intro-buttons {
display: block;
position: relative;
margin-top: 3em;
}

.ib-1 {
margin-right: 15vmin;
}

.main-text {
font-family: 'Roboto Mono', monospace;
margin-top: 2em;
font-size: 120%;
}

.intro-button {
position: relative;
margin-top: 2em;
border: none;
padding-left: 0.5em;
padding-right: 0.5em;
border-radius: 15vmin;
font-size: 120%;
background: none;
vertical-align: center;
border: 3px solid white;
color: white;
font-family: 'Roboto Mono', monospace;
}

.homepage-quotes {
 width: 100%;
 min-height: 70vh;
 background-color: white;
 background-image: url(../images/cutbg.svg);
 background-position: center;
 background-size: 100% auto;
 background-position: 0 0;
 background-repeat: no-repeat;
 padding-top: 30%;
 box-sizing: border-box;
 padding-bottom: 20%;
 color: var(--bg-blue);
 padding-left: 2em;
 padding-right: 2em;
 display: grid;
}

.homepage-quote {
 width: 100%;
 padding-bottom: 10%;
 margin-top: 15%;
 display: block;
 margin: auto;
}

.homepage-quote > blockquote {
 text-align: left;
}

.homepage-quote > small {
 text-align: right;
}

.main-footer {
 width: 100%;
 min-height: 10vmin;
 background-image: url(../images/undercutbg.svg);
 background-repeat: no-repeat;
 background-position: 0 0;
 background-size: 100% 100%;
 color: white;
 padding-top: 10%;
 padding-bottom: 10%;
 font-family: 'Roboto Mono', monospace;
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
}

.github-img {
 width: 10vw;
 max-width: 300px;
 margin-bottom: 5%;
}
